header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-light);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
}

header nav {
    display: flex;
    gap: 2rem; /* Khoảng cách giữa các thẻ a */
}

header nav a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease; /* Làm mượt hiệu ứng hover */
}


header nav a:hover {
    color: var(--color-primary);
}
.menu-toggle, 
.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        font-size: 1.8rem;
        color: var(--color-dark);
        cursor: pointer;
    }

    header nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-light);
        flex-direction: column;
        padding: 1rem 0;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    header nav a {
        text-align: center;
        padding: 0.8rem 0;
    }

    .menu-toggle:checked ~ nav {
        display: flex;
    }
}